* {
    margin: 0;
    padding: 0;
}

body#index {
    padding: 10px;
    height: 100vh;
    background-image: url("../img/general/mushroom1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

#form-container {
    height: 45%;
    width: 40%;
    padding: 100px;
    border: solid 5px black;
    background-image: url("../img/general/fairies.jpg");
    background-size: cover;
    box-shadow: 5px 10px 10px rgb(0, 45, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    height: 80%;
    width: 90%;
    padding: 10px;
    margin: 10px;
    z-index: 2;
}

span {
    padding: 10px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(145, 207, 215);
    text-shadow: 5px 5px 10px blue;

}

#password,
#name {
    z-index: 3;
    font-size: 25px;
}


#submit {
    margin: 10px;
    transition: 0.2s ease-in-out;
    background: linear-gradient(#0eeee3, #0d1ed1);
    border: 1px solid #21283b;
    border-radius: 26px;
    box-shadow: 2px -2px #444444;
    padding: 15px 29px;
    color: #ff00ff;
    display: inline-block;
    font: normal bold 30px/1 "Ubuntu", sans-serif;
    text-align: center;
    text-shadow: 1px 1px #a226a2;
    z-index: 3;
}

#submit:hover {
    background: linear-gradient(#0d1ed1, #0eeee3);
    box-shadow: 3px -3px #000000;
    padding: 15px 29px;
    color: #00ff00;
    text-shadow: 1px 1px #1d071d;
}

#error-message {
    font-size: 70px;
    display: none;
    color: crimson;
    text-shadow: 10px 2px black;
}

/* mauvais password rentré: */

.annoying-image {
    height: 500px;
    width: 500px;
    position: absolute;
    background-image: url("../img/general/ai-generated-warning.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: hueChange 0.8s linear 0s infinite forwards;
}

@keyframes hueChange {
    0% {
        filter: invert(0) hue-rotate(0);
    }

    25% {
        filter: invert(0.25) hue-rotate(90deg) drop-shadow(15px 10px 4px rgb(121, 62, 240));

    }

    50% {
        filter: invert(1) hue-rotate(360deg) drop-shadow(30px 10px 4px rgb(177, 255, 87));
    }

    100% {
        filter: invert(0) hue-rotate(0);
    }
}

.fine-print {

    font-size: 10px;
    color: rgb(19, 96, 47);
    border: 2px solid black;
    box-shadow: 5px 10px rgb(4, 98, 65);
    width: 180px;
    height: 20px;
    position: absolute;
    z-index: 3;
}

.fine-print:hover {
    width: 520px;
    height: 50px;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 5px 10px rgb(207, 9, 229);
    color: rgb(207, 9, 229);
    bottom: 20px;
}

.forest-spirit {
    width: 150px;
    height: 150px;
    background-image: url("../img/sprites-seasons/kodama.gif");
    background-size: cover;
    position: absolute;

    z-index: 1;
}




/* PAGE METEO: */

body#meteo {
    height: 100vh;
    background-image: url("../img/general/underwater.jpg");
    background-size: cover;
}

#meteo-wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#welcome {
    height: 13%;
    width: 45%;
    padding: 22px;
    background-image: linear-gradient(to bottom right, #5761B2, #0ef8d1);
    border: solid 2px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    font-size: 30px;
    color: black;
}

#welcome h1 {
    color: rgb(230, 15, 94);
    text-shadow: 1px 1px black;
    font-size: 50px;

}


#button-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/* #brasov,
#hanoi,
#bergen {} */

/* button styles */
#brasov,
#hanoi,
#bergen {
    transition: 0.2s ease-in-out;
    border-radius: 16px;
    padding: 20px 35px;
    display: inline-block;
    font: normal bold 30px/1 "Ubuntu", sans-serif;
    text-align: center;
    text-shadow: 2px 2px #000000;
}

#brasov {

    background-color: #2f00ff;
    background-image: linear-gradient(#2f00ff, #9900ff);
    border: 1px solid #020309;
    box-shadow: 12px 12px 2px 1px rgba(90, 90, 150);
    color: #efd5f2;
}

#brasov:hover {
    background: #9900ff;
    box-shadow: 2px 2px 2px 1px #000000;
    color: #00f2ff;
}

#hanoi {
    background-color: #12923e;
    background-image: linear-gradient(#12923e, #eeff00);
    border: 1px solid #032712;
    box-shadow: 12px 12px 2px 1px rgb(90, 150, 111);
    color: #f9f9ba;
}

#hanoi:hover {
    background: #329956;
    box-shadow: 2px 2px 2px 1px #000000;
    color: #82f9ff;
}

#bergen {
    background-color: #8e0606;
    background-image: linear-gradient(#8e0606, #ff7400);
    border: 1px solid #290713;
    box-shadow: 12px 12px 2px 1px rgb(124, 73, 84);
    color: #c9bdea;
}

#bergen:hover {
    background: #c6458c;
    box-shadow: 2px 2px 2px 1px #000000;
    color: #00f2ff;
}

/* city classes */

.city {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: space-evenly;

}

.back {
    background: #15d798;
    margin: 50px;
    border-radius: 11px;
    padding: 20px 45px;
    color: #ffffff;
    display: inline-block;
    font: normal bold 26px/1 "Open Sans", sans-serif;
    text-align: center;
    z-index: 1;
    position: relative;
}

.back:hover {
    background: #5500ff;
    box-shadow: 5px 5px 2px 2px black;
}

.brasov-cls {
    background-image: url("../img/cities/brasov2.jfif");
}


.hanoi-cls {
    background-image: url("../img/cities/hanoi2.jpg");
}

.bergen-cls {
    background-image: url("../img/cities/bergen1.jpg");
}

.brasov-cls.winter {
    background-image: url("../img/cities/brasov3.jfif");
}

.hanoi-cls.storm {
    background-image: url("../img/cities/hanoi3.jpg");
}

.hanoi-cls.summer {
    background-image: url("../img/cities/hanoi1.jpg");
}

.bergen-cls.winter {
    background-image: url("../img/cities/bergen3.jpg");
}

.bergen-cls.night {
    background-image: url("../img/cities/bergen12.jpg");
}

.bergen-cls.night .light {
    /* child of light */
    background-image: url(../img/cities/bergen2.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}


.snowflake {
    width: 6px;
    height: 6px;
    background-size: cover;
    position: absolute;
    z-index: 100;
}

.snowflake-1 {
    background-image: url(../img/sprites-seasons/snowflakes/1.png);
}

.snowflake-2 {
    background-image: url(../img/sprites-seasons/snowflakes/2.png);
}

.snowflake-3 {
    background-image: url(../img/sprites-seasons/snowflakes/3.png);
}

.snowflake-4 {
    background-image: url(../img/sprites-seasons/snowflakes/4.png);
}

.snowflake-5 {
    background-image: url(../img/sprites-seasons/snowflakes/5.png);
}

.snowflake-6 {
    background-image: url(../img/sprites-seasons/snowflakes/6.png);
}

.snowflake-7 {
    background-image: url(../img/sprites-seasons/snowflakes/7.png);
}

.snowflake-8 {
    background-image: url(../img/sprites-seasons/snowflakes/8.png);
}

.rain {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url(../img/sprites-seasons/rain.png);
    position: absolute;
    z-index: 100;
}

.tornado {
    width: 94px;
    height: 106px;
    background-size: cover;
    background-image: url(../img/sprites-seasons/tornado.gif);
    position: absolute;
    z-index: 100;
}

.scrat {
    width: 360px;
    height: 203px;
    background-size: cover;
    position: absolute;
    z-index: 100;
}

.sniff-right {
    background-image: url(../img/sprites-seasons/scrat/scrat-sniff-right.gif);
}

.sniff-left {
    background-image: url(../img/sprites-seasons/scrat/scrat-sniff-left.gif);
}

.inspect-right {
    background-image: url(../img/sprites-seasons/scrat/scrat-inspect-right.gif);
}

.inspect-left {
    background-image: url(../img/sprites-seasons/scrat/scrat-inspect-left.gif);
}

.walk-right {
    background-image: url(../img/sprites-seasons/scrat/scrat-walk-right.gif);
}

.walk-left {
    background-image: url(../img/sprites-seasons/scrat/scrat-walk-left.gif);
}

.find-acorn {
    background-image: url(../img/sprites-seasons/scrat/scrat-findacorn.gif);
}

.happy {
    background-image: url(../img/sprites-seasons/scrat/happy-scrat.gif);
}

.info-wrapper {
    margin: 50px;
    width: 400px;
    height: 230px;
    padding-top: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/sprites-seasons/info.png);
    box-shadow: 5px 5px 5px rgb(57, 55, 55);
    text-align: center;
    display: block;
    position: relative;
    z-index: 50;
}

.info {
    font: normal 20px/1 "Ubuntu", sans-serif;
}

.info div {
    font-size: 30px;

}

h2 {
    padding: 5px;
    color: #290713;
    font-size: 40px;
}

span {
    text-transform: capitalize;
}