* {
    margin: 0;
    padding: 0;
}

body#index {
    padding:10px;
    font-size:40px;
    color:pink;
    height: 1200px;
    width: 1920px;
    background-image: url("../img/mushroom1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-container {
    height: 600px;
    width: 900px;
    border: solid 5px black;
}

form {
    height: 550px;
    width:800px;
}

/* mauvais password rentré: */

.annoying-image {
    height: 500px;
    width:500px;
    background-image: url("../img/ai-generated-warning.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: hueChange 0.5s linear 0s infinite forwards;
}

@keyframes hueChange {
    0%   { filter: invert(0) hue-rotate(0);}

    50%{
        filter:invert(1) hue-rotate(360deg) invert(0) drop-shadow(30px 10px 4px rgb(177, 255, 87));
    
    }
    100% {filter: invert(0) hue-rotate(0);
        }
  }
  

/* PAGE METEO: */

body#meteo {
    font-size:40px;
    color:pink;
    height: 1200px;
    width: 1920px;
    background-image: url("../img/underwater.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}